.app{
  background-image: url('https://mocah.org/uploads/posts/125023-light-purple-texture-pattern-hd.jpg');
  background-size: 40%;
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  box-sizing: border-box;
}

.header{
  height: 16vh;
  width: 100vw;
  background-color: thistle;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
}

.title{
  font-family: 'Times New Roman', Times, serif;
  font-size: 70px;
}

.create-hero-button{
  margin: 10px;
  height: 50px;
  width: 200px;
  color: darkmagenta;
  background-color: lightpink;
  box-sizing: border-box;
  font-size: 19px;
}

.dropdown{
  height: 70vh;
  width: 90vw;
  background-color: azure;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: fixed;
  top: 16vh;
  box-sizing: border-box;
  flex-wrap: wrap;
  z-index: 1;
  padding: 20px;
}

.dropdown > input {
  height: 70px;
  width: 150px;
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.hidden{
  display: none;
}

.submit{
  background-color:lightseagreen;
  height: 50px;
  width: 170px;
  border-radius: 5%;
}

.display-container{
  height: 84vh;
  width: 100vw;
  display: flex;
  background-color: transparent;
  box-sizing: border-box;
}

.tank-container {
  height: 42vh;
  width: 25vw;
  position: fixed;
  top: 16vh;
  left: 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
  font-weight: 800;
  box-sizing: border-box;
}

.support-container {
  height: 42vh;
  width: 25vw;
  position: fixed;
  top: 58vh;
  left: 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.middle-display{
  height: 84vh;
  width: 48vw;
  position: fixed;
  top: 17vh;
  left: 26vw;
  background-color:lightgoldenrodyellow;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  
}

.damage-container{
  height: 84vh;
  width: 25vw;
  position: fixed;
  top: 16vh;
  left: 75vw;
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  box-sizing: border-box;
}

.damage-container > button {
  height: 40px;
  width: 100px;
  margin: 5px;
  text-align: center;
  box-sizing: border-box;
  border: none;
  background-color: lightcoral;
  border-radius: 7%;
  color: white;
  font-family: fantasy;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}


.support-container > button {
  height: 40px;
  width: 100px;
  margin: 5px;
  text-align: center;
  box-sizing: border-box;
  border: none;
  background-color: slateblue;
  border-radius: 7%;
  color: white;
  font-family: fantasy;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}


.tank-container > button {
  height: 40px;
  width: 100px;
  margin: 5px;
  text-align: center;
  box-sizing: border-box;
  border: none;
  background-color: turquoise;
  border-radius: 7%;
  color:black;
  font-family: fantasy;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bolder;
}

.delete-hero{
  background-color:red;
  height: 50px;
  width: 170px;
  border-radius: 5%;
}

.edit-hero{
  background-color:lightseagreen;
  height: 50px;
  width: 170px;
  border-radius: 5%;
}